<form action="">
    <div class="mt-5 mb-5">
        <div class="row mt-5 mb-5">
            <div class="col text-center">
                <button type="button" class="btn btn-outline-primary btn-transparent">Cadastrar Anotação de Responsabilidade Técnica</button>
            </div>
        </div>
        <div class="row mt-5">
            <h3>Modelo de solução de responsabilidade técnica</h3>
        </div>
        
        <div class="row">
            <div class="col-6">
                <div class="d-grig">
                    <div class="dropdown">
                        <button class="btn btn-outline-primary btn-transparent dropdown-toggle btn-block w-100 h-75" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                          Selecione um modelo de responsabilidade técnica
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <li><a class="dropdown-item" href="#">COD101 - OBRA/SERVIÇO</a></li>
                            <li><a class="dropdown-item" href="#">COD102 - CARGO-FUNÇÃO</a></li>
                            <li><a class="dropdown-item" href="#">COD103 - MÚLTIPLA MENSAL</a></li>
                            <li><a class="dropdown-item" href="#">COD104 - RECEITUÁRIO AGRONÔMICO</a></li>
                            <li><a class="dropdown-item" href="#">COD105 - REGULARIZAÇÃO DE OBRA/SERVIÇO - RES. 1050</a></li>
                            <li><a class="dropdown-item" href="#">COD105 - REGULARIZAÇÃO DE OBRA/SERVIÇO - FORA DE ÉPOCA</a></li>        
                            <li><a class="dropdown-item" href="#">COD107 - ART MÚLTIPLA MENSAL FORA DE ÉPOCA - RES. 1050 DE OBRA/SERVIÇO</a></li>
                        </ul>
                    </div>

                </div>
            </div>
            <div class="col-6"></div>
        </div>
        <hr class="mt-4 mb-4">
    
        <div class="row">
            <h4>Forma de registro</h4>
            <div class="col">
                <div class="d-grid">
                    <button type="button" class="btn btn-outline-primary btn-transparent btn-block">Inicial</button>
                </div>
            </div>
            <div class="col">
                <div class="d-grid">
                    <button type="button" class="btn btn-outline-primary btn-transparent btn-block">Complementar</button>
                </div>
            </div>
            <div class="col">
                <div class="d-grid">
                    <button type="button" class="btn btn-outline-primary btn-transparent btn-block">Complementação de prazo</button>
                </div>
            </div>
            <div class="col">
                <div class="d-grid">
                    <button type="button" class="btn btn-outline-primary btn-transparent btn-block">Substituição</button>
                </div>
            </div>
        </div>
            <hr class="mt-4 mb-4">
    
        <div class="row">
            <h4>Participação</h4>
            <div class="col">
                <div class="d-grid">
                    <button type="button" class="btn btn-outline-primary btn-transparent btn-block">Individual</button>
                </div>
            </div>
            <div class="col">
                <div class="d-grid">
                    <button type="button" class="btn btn-outline-primary btn-transparent btn-block">Co-Autor</button>
                </div>
            </div>
            <div class="col">
                <div class="d-grid">
                    <button type="button" class="btn btn-outline-primary btn-transparent btn-block">Co-Responsável</button>
                </div>
            </div>
            <div class="col">
                <div class="d-grid">
                    <button type="button" class="btn btn-outline-primary btn-transparent btn-block">Equipe</button>
                </div>
            </div>
        </div>
        <hr class="mt-4 mb-4">
    
    </div>
</form>