<form action="">
    <div class="mt-5 mb-5">
        <div class="row mt-5 mb-5">
            <div class="col text-center">
                <button type="button" class="btn btn-outline-primary btn-transparent">Cadastrar Anotação de Responsabilidade Técnica</button>
            </div>
        </div>
        <div class="row mt-5">
            <h3>Modelo de solução de responsabilidade técnica</h3>
        </div>
        
        <div class="row">
            <div class="col-6">
                <div class="d-grig">
                    <div class="dropdown">
                        <button class="btn btn-outline-primary btn-transparent dropdown-toggle btn-block w-100 h-75" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                          Selecione um modelo de responsabilidade técnica
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <li><a class="dropdown-item" href="#">COD101 - OBRA/SERVIÇO</a></li>
                            <li><a class="dropdown-item" href="#">COD102 - CARGO-FUNÇÃO</a></li>
                            <li><a class="dropdown-item" href="#">COD103 - MÚLTIPLA MENSAL</a></li>
                            <li><a class="dropdown-item" href="#">COD104 - RECEITUÁRIO AGRONÔMICO</a></li>
                            <li><a class="dropdown-item" href="#">COD105 - REGULARIZAÇÃO DE OBRA/SERVIÇO - RES. 1050</a></li>
                            <li><a class="dropdown-item" href="#">COD105 - REGULARIZAÇÃO DE OBRA/SERVIÇO - FORA DE ÉPOCA</a></li>        
                            <li><a class="dropdown-item" href="#">COD107 - ART MÚLTIPLA MENSAL FORA DE ÉPOCA - RES. 1050 DE OBRA/SERVIÇO</a></li>
                        </ul>
                    </div>

                </div>
            </div>
            <div class="col-6"></div>
        </div>
        <hr class="mt-4 mb-4">
    
        <div class="row">
            <h4>Forma de registro</h4>
            <div class="col">
                <div class="d-grid">
                    <button type="button" class="btn btn-outline-primary btn-transparent btn-block">Inicial</button>
                </div>
            </div>
            <div class="col">
                <div class="d-grid">
                    <button type="button" class="btn btn-outline-primary btn-transparent btn-block">Complementar</button>
                </div>
            </div>
            <div class="col">
                <div class="d-grid">
                    <button type="button" class="btn btn-outline-primary btn-transparent btn-block">Complementação de prazo</button>
                </div>
            </div>
            <div class="col">
                <div class="d-grid">
                    <button type="button" class="btn btn-outline-primary btn-transparent btn-block">Substituição</button>
                </div>
            </div>
        </div>
            <hr class="mt-4 mb-4">
    
        <div class="row">
            <h4>Participação</h4>
            <div class="col">
                <div class="d-grid">
                    <button type="button" class="btn btn-outline-primary btn-transparent btn-block">Individual</button>
                </div>
            </div>
            <div class="col">
                <div class="d-grid">
                    <button type="button" class="btn btn-outline-primary btn-transparent btn-block">Co-Autor</button>
                </div>
            </div>
            <div class="col">
                <div class="d-grid">
                    <button type="button" class="btn btn-outline-primary btn-transparent btn-block">Co-Responsável</button>
                </div>
            </div>
            <div class="col">
                <div class="d-grid">
                    <button type="button" class="btn btn-outline-primary btn-transparent btn-block">Equipe</button>
                </div>
            </div>
        </div>
        <hr class="mt-4 mb-4">
    
        <div class="row">
            <h4>Empresa Contrata</h4>
            <div class="dropdown">
                <button class="btn btn-outline-primary btn-transparent dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                  Selecione uma empresa
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <li><a class="dropdown-item" href="#">Empresa 1</a></li>
                  <li><a class="dropdown-item" href="#">Empresa 2</a></li>
                  <li><a class="dropdown-item" href="#">Empresa 3</a></li>
                </ul>
            </div>
        </div>
        <hr class="mt-4 mb-4">

        <div class="row">
            <h3 class="mb-5">Atividades Contratas</h3>
            <div class="col">
                <h4>Nível atividade*</h4>
                <div class="dropdown">
                    <button class="btn btn-outline-primary btn-transparent dropdown-toggle btn-block w-100 h-75" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                      Selecione o nível de técnica
                    </button>
                </div>
            </div>

            <div class="col">
                <h4>Atividade Profissional</h4>
                <div class="dropdown">
                    <button class="btn btn-outline-primary btn-transparent dropdown-toggle btn-block w-100 h-75" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                      Selecione um tipop de atividade profissional
                    </button>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <h4>Atividade(s)*</h4>
                <div class="dropdown">
                    <button class="btn btn-outline-primary btn-transparent dropdown-toggle btn-block w-100 h-75" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                      Selecione o código ou nome da atividade
                    </button>
                    10.3.4.5 - geodésico <br>
                    10.3.4.5 - geodésicos <br>
                    10.3.4.6 - topográficos <br>
                    10.3.4.7 - pelo sol <br>
                    10.3.4.8 - urbano
                </div>
            </div>

            <div class="col">
                <div class="row">
                    <div class="col">
                        <h4>Unidade de medida*</h4>
                        <button class="btn btn-outline-primary btn-transparent dropdown-toggle btn-block w-100" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                            Selecione a un. medida.
                        </button>
                    </div>
                    <div class="col">
                        <h4>Quantidade*</h4>
                        <input class="btn btn-outline-primary btn-transparent btn-block w-100" placeholder="00,00">
                    </div>
                </div>
            </div>
        </div>
        <hr class="mt-4 mb-4">

        <div class="row">
            <h4>Contratante*</h4>
            <div class="col">
                <input class="btn btn-outline-primary btn-transparent btn-block w-100" placeholder="Pessoa Física[CPF]">
            </div>
            <div class="col">
                <input class="btn btn-outline-primary btn-transparent btn-block w-100" placeholder="Pessoa física [NOME]">
            </div>
            <div class="col">
                <input class="btn btn-outline-primary btn-transparent btn-block w-100" placeholder="Pessoa jurídica [CNPJ]">
            </div>
            <div class="col">
                <input class="btn btn-outline-primary btn-transparent btn-block w-100" placeholder="Pessoa jurídica [NOME]">
            </div>
        </div>
        <hr class="mt-4 mb-4">

        <div class="row">
            <h4>Proprietário*</h4>
            <div class="col">
                <button class="btn btn-outline-primary btn-transparent btn-block w-100" type="button">
                    Aproveitar dados do contratante
                </button>
            </div>
            <div class="col">
                <button class="btn btn-outline-primary btn-transparent  btn-block w-100" type="button">
                    Adicionar dados do contratante
                </button>
            </div>
        </div>
        <hr class="mt-4 mb-4">

        <div class="row">
            <h4>Endereço da obra/serviço</h4>
            <div class="col">
                <button class="btn btn-outline-primary btn-transparent btn-block w-100" type="button">
                    Utilizar dados do contratante
                </button>
            </div>
            <div class="col">
                <button class="btn btn-outline-primary btn-transparent  btn-block w-100" type="button">
                    Utilizar endereço do proprietário
                </button>
            </div>
            <div class="col">
                <button class="btn btn-outline-primary btn-transparent  btn-block w-100" type="button">
                    Adicionar novo endereço
                </button>
            </div>
        </div>
        <hr class="mt-4 mb-4">

        <div class="row">
            <h3>Dados do contrato</h3>
            <div class="row">
                <div class="col">
                    <h4>Número do contrato</h4>
                    <input class="btn btn-outline-primary btn-transparent btn-block w-100" placeholder="Digite o número do contrato.">
                </div>
                <div class="col">
                    <h4>Celebrado em</h4>
                    <input class="btn btn-outline-primary btn-transparent btn-block w-100" type="cal" placeholder="">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h4>Código de obra pública</h4>
                    <input class="btn btn-outline-primary btn-transparent btn-block w-100" type="cal" placeholder="Digite o código da obra pública.">
                </div>
                <div class="col"></div>
            </div>
            </div>
        </div>

        <div class="row">
            <h4>Prazo e valores da obra serviço</h4>
            <div class="col">
                Início da obra/serviço
                <input class="btn btn-outline-primary btn-transparent btn-block w-100" type="cal" placeholder="">
            </div>
            <div class="col">
                Previsão do término
                <input class="btn btn-outline-primary btn-transparent btn-block w-100" type="cal" placeholder="">
            </div>
            <div class="col">
                Valor da obra/serviço (R$)
                <input class="btn btn-outline-primary btn-transparent btn-block w-100" type="cal" placeholder="00,00">
            </div>
        </div>
        <hr class="mt-4 mb-4">

        <div class="row mt-5 mb-5">
            <div class="col text-center">
                <div class="g-grid">
                    <button type="button" class="btn btn-success w-25">Finalizar Cadastro</button>
                </div>
            </div>
        </div>
    
        <!-- <div class="row">
            <h3>Atividades</h3>
            <h4>Finalidade</h4>
            <div class="dropdown">
                <button class="btn btn-outline-primary btn-transparent dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                  Selecione uma opção
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <li><a class="dropdown-item" href="#">Item 1</a></li>
                  <li><a class="dropdown-item" href="#">Item 2</a></li>
                  <li><a class="dropdown-item" href="#">Item 3</a></li>
                </ul>
            </div>
    
            <h4>Nível de atividade</h4>
            <div class="dropdown">
                <button class="btn btn-outline-primary btn-transparent dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                  Selecione uma opção
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <li><a class="dropdown-item" href="#">Item 1</a></li>
                  <li><a class="dropdown-item" href="#">Item 2</a></li>
                  <li><a class="dropdown-item" href="#">Item 3</a></li>
                </ul>
            </div>
    
            <h4>Atividade profissional</h4>
            <div class="dropdown">
                <button class="btn btn-outline-primary btn-transparent dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                  Selecione uma opção
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <li><a class="dropdown-item" href="#">Item 1</a></li>
                  <li><a class="dropdown-item" href="#">Item 2</a></li>
                  <li><a class="dropdown-item" href="#">Item 3</a></li>
                </ul>
            </div>
    
            <h4>Atividade</h4>
            <div class="dropdown">
                <button class="btn btn-outline-primary btn-transparent dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                  Selecione uma opção
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <li><a class="dropdown-item" href="#">Item 1</a></li>
                  <li><a class="dropdown-item" href="#">Item 2</a></li>
                  <li><a class="dropdown-item" href="#">Item 3</a></li>
                </ul>
            </div>
    
            <div class="row">
                <div class="col">
                    <h4>Unidade de medida</h4>
                    <div class="dropdown">
                        <button class="btn btn-outline-primary btn-transparent dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                        Selecione uma opção
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <li><a class="dropdown-item" href="#">Item 1</a></li>
                        <li><a class="dropdown-item" href="#">Item 2</a></li>
                        <li><a class="dropdown-item" href="#">Item 3</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col">
                    <h4>Quantidade</h4>
                    <div class="dropdown">
                        <button class="btn btn-outline-primary btn-transparent dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                        Selecione uma opção
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <li><a class="dropdown-item" href="#">Item 1</a></li>
                        <li><a class="dropdown-item" href="#">Item 2</a></li>
                        <li><a class="dropdown-item" href="#">Item 3</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div> -->
    
    </div>
</form>